body{
	background:#DCDCDC;
	font-family: 'Open Sans', sans-serif;
}

span{
	font-size:x-large;
	margin:2px
}

.infoBox{
	width: 50%; 
	margin: 25px auto;
	display:flex;
	justify-content: space-around;
	flex-wrap:wrap;
}

.letterBox{
	width: 50%; 
	margin: 25px auto;
	display:flex;
	justify-content: space-around;
}


.letter{
	border-bottom: 5px solid black;
	width: 4vw;
	color:#DCDCDC;
	text-align:center;
	font-size:xxx-large;
}	

#keyBoard{
	display:flex;
	width: 50%;
	margin: 25px auto;
	flex-wrap:wrap;
	font-size:xx-large;
}


	